.table {
    width: 100%;
    border-collapse: collapse;
    background-color: #333;   


    th, td {
        padding: 10px 15px;
        border: 1px solid #fff;
        text-align: left;
        color: #eee;
    }

    th {
        background-color: #444;
        font-weight: bold;
        color: #fff;
    }

    tr: nth-child(even) {
        background-color: #423f3f;
    }

    tr:hover {
        background-color: #555;
    }

    .highlightedRow {
        background-color: #555;
    }
}

/* Popup background overlay */
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Darkens the page around the popup */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000; /* Ensures the popup is above all other content */
  }
  
  /* Popup content box */
  .popupContent {
    position: relative; /* Relative positioning so everything else can be positioned 'inside' this box*/
    background-color: #1e1e1e; 
    padding: 3em;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); 
    width: 90%;
    max-width: 800px;
    max-height: 90vh;
    overflow-y: auto;
    color: #eee;
    display: flex;
    flex-direction: column;
  }
  
  /* Title section */
  .popupTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
  }
  
  .popupTitle h3 {
    font-size: 2rem;
    color: #fff; 
  }
  
  /* Author and metadata section */
  .popupMetadata {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 0.5em;
    border-radius: 8px;
    margin-bottom: 1em;
  }
  
  /* Metadata is referring to the authors, publication year, and ratings etc*/
  .popupMetadata p {
    margin: 0;
    color: #ffffff; 
    font-size: 0.9rem;
  }
  
  /* Rating section */
  .popupRating {
    display: flex;
    align-items: center;
    margin: 1em 0;
  }
  
  /* Star styling for now, until they become buttons */
  .popupRating .stars {
    color: gold; 
    margin-left: 0.5em;
  }
  
  /* Main content section */
  .popupContentText {
    background-color: #2b2b2b; 
    padding: 1em;
    border-radius: 8px;
    
    margin-top: 1em;
    max-height: 40vh; 
    overflow-y: auto; 
  }
  
  /* Close button styling */
  .closeButton {
    position: absolute;
    bottom: 0px;
    right: 10px;

    background-color: #ff6347; 
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    border: none;
    padding: 0.5em 1em;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 1em;
    align-self: flex-end;
  }
  
  .closeButton:hover {
    background-color: #ff4500;
  }
  