.navbar {
    display: flex;
    position: relative;
    top: 0;
    flex-direction: row;
    width: 100%;
    background-color: darkblue;
    align-items: center;
    color: aliceblue;
    font-size: 1.5em;
    font-weight: bold;
    transition: top 0.5s;
    height: fit-content;
    

    gap: 40px;
  }
  
  .hide {
    top: -3em;
  }
  
  .navitem {
    position: relative;
    padding: 1em;
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: default;
    white-space: nowrap;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
 
  }
  
  .clickable {
    @extend .navitem;
    cursor: pointer;
  }
  
  .clickable:hover {
    backdrop-filter: brightness(50%);
}

.dropdown_container {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  background-color: darkblue;
  position: absolute;
  top: 100%;
  right: 0;
}

.dropdown:hover {
  cursor: pointer;
  backdrop-filter: brightness(50%);

  .dropdown_container {
    visibility: visible;
  }
}

.end {
  margin-left: auto;
}

.searchLabel {
  margin-right: 10px;
  color: #fff;
}

.searchForm {
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.searchInput {
  padding: 5px 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  color: #242323;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.searchButton {
  padding: 8px 15px;
  background-color: #fff;
  color: #333;
  border: none;
  cursor: pointer;
  border-radius: 4px;

  &:hover {
    background-color: #ddd;
  }

  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
